body {
    background-color: rgb(27, 27, 27);
    padding: 0%;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: lighter;
}

img {
    float: left;
    padding-right: 30px;
    padding-left: 15px;
    padding-bottom: 20px;
}

p {
    clear: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

.header a {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #141414;
    padding: 1px;
    transition: 200ms;
    position: absolute;
    top: 70px;
    left: 22px;
}

.header a:hover {
    background-color: #ffc107;
}

a {
    text-decoration: none;
}
.about-me a {
    transition: 100ms;
    color: #ffc107;
}


.about-me a:hover {
    font-size: 21px;
}

h2 {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}

.home-button {
    color: whitesmoke;
    font-family: sans-serif;
    letter-spacing: 1px;
}

